*{
	box-sizing: border-box;
}
body{
	margin: 0;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	min-width: 960px;
	position: relative;
	font-family: 'Roboto', sans-serif;
}


a{
	text-decoration: none;
	color: inherit;
}

.container{ 
	position: relative;
	width: 100%;
}

.cf{
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}


.path{
	position: relative;
    font-size: 16px;
    color: #383331;
    line-height: 20px;
    padding: 20px 0;
}

.path .path-item{
	position: relative;
    padding: 0 10px;
}

.path a{
	color: #b94d33;
}

.path a:hover{
	opacity: 0.8;
}

.path a:after{
    content: '';
    position: absolute;
    top: 4px;
    right: -7px;
    background: url(../images/path_icon.png) center center no-repeat;
    width: 6px;
    height: 12px;
}

h1{
	font-size: 45px;
    color: rgb(56, 51, 49);
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0 30px 0;
}

h2{
	font-size: 40px;
    color: rgb(56, 51, 49);
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0 30px 0;
}

/**********************************************************************/
/********************************header********************************/
header{
	background-color: #181818;
	background-image: linear-gradient(to top, #0f0f0f, #181818, #0f0f0f);
	left: 0;
	top: 0;
	width: 100%;
	height: 123px;
	position: relative;
	display: block;
}

header .cf{
	max-width: 1060px;
}

header .header-content{
	display: inline-block;
	width: 627px;
	padding: 16px 0 0;
	float: right;
}

header .logo{
	width: 333px;
	/* height: 93px; */
	display: inline-block;
	padding: 16px;
	float: left;
}

header .contacts{
	display: inline-block;
    vertical-align: top;
    float: right;
	font-size: 18px;
	color: rgb(220, 220, 220);
	padding-right: 10px;
	padding-bottom: 6px;
}

header .contacts .phone{
	display: inline-block;
	margin-left: 30px;
	font-weight: bold;
}

header .contacts .address_and_schedule{
	display: inline-block;
	margin-left: 30px;
}

header .contacts .address{
	display: block;
	
}
header .contacts .schedule{
	display: block;
}

header nav{
    width: 100%;
    clear: both;
    display: block;
}

header nav ul{
	display: inline-block;
    color: #f4eee6;
    padding: 0;
    text-align: justify;
    line-height: 0px;
    font-size: 0;
    width: 100%;
}

header nav ul:after{
	content: '';
    display: inline-block;
    width: 100%;
    height: 0px;
}

header nav ul li{
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 30px;
	padding: 10px 8px;
}

header nav ul li:hover,
header nav ul li.active{
	background: rgba(160, 156, 151, 0.28);
	border-radius: 25px;
}

/*@media all and (max-width: 481px){
header{
	background-color: #181818;
	left: 0;
	top: 0;
	width: 100%;
	height: 15%;
	position: relative;
}}*/


/**********************************************************************/
/********************************banner********************************/
.banner{
	background-color: #000;
	background-size: 100% auto;
	background-repeat: no-repeat;
	width: 100%;
	top: 0;
	left: 0;
	position: relative;
}

@media all and (max-width: 481px){
.banner{
	display: none;
}}

@media all and (min-width: 482px) and (max-width: 1054px){
.banner{
	background-image: url("../images/banner_medium.jpg");
	/*Устанавливает резиновый размер блока banner, = высота изображения/ширина изображения*/
	padding-bottom: 32.8%; 
}}

@media all and (min-width: 1055px){
.banner{
	background-image: url("../images/banner.jpg");
	/*Устанавливает резиновый размер блока banner, = высота изображения/ширина изображения*/
	padding-bottom: 24.5%; 
}}
/***********************************************************************/
/********************************main********************************/


main{
	background-image: url("../images/concrete_seamless.png");
	width: 100%;
	position: relative;
	display: block;
}

main .menu{
	padding: 60px 0 30px 0 ; 
}

main .menu .menu_wrap{
	font-size: 0;
	line-height: 0;
	margin-left: -40px; 
}

main .menu .item_wrap{
	/*width: 50%;*/
	padding-left: 40px;
	margin-bottom: 20px; 
	display: inline-block;
	vertical-align: top;
}

main .menu .item{
	position: relative;
}

/*main .menu .item:hover:after{
	content: '';
	background: url("../images/main/title_wrap_hover_down.png") left top no-repeat;
	width: 100%;
	height: 70px;
	background-size: 100% 70px;
	position: absolute;
	bottom: 46px;
	left: 0;
	z-index: 3;
}*/

main .title{
	background: url("../images/main/title_wrap.png") left top no-repeat;
	width: 100%;
	height: 70px;
	background-size: 100% 70px;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
	position: relative;
	z-index: 3;
	color: #eeeded;
	padding: 20px 45px;
}

main .item:hover .title{
	color:#9a9292;;
}


main .title a{

}

main .title a:after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
}

main .menu .item .image{
	width: 100%;
	height: 100%;
	max-width: 450px;
	max-height: 215px;
	position: relative;
	z-index: 1;
	top: -26px;
	margin-bottom: -26px;
}


/*main .menu .item:hover .image{
	top: -46px;
	margin-bottom: -46px;
}*/

main .menu .item:hover .image:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(30, 27, 27, 0.6);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


main .menu .item .image img{
	max-width: 450px;
	max-height: 215px;
}


main .menu .item > a{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	margin-bottom: -26px;
}


/***********************************************************************/
/**********************************map**********************************/
.map{

}
.map_wrap{
	position: relative;
    height: 455px;
    
}

.map .title{
	margin-top: -26px;
	top: 26px;
	padding: 0;
}

.map .title a{
	padding: 20px 45px;
	display: block;
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	position: relative;
}

.map .ymaps-2-1-47-controls__toolbar{
	margin-top: 35px !important;

}

/*@media all and (max-width: 481px){
.map{
	height: 300px;
}}


@media (min-width: 482px) and (max-width: 900px){
.map{
	height: 300px;
}}

@media (min-width: 901px) and (max-width: 1281px){
.map{
	height: 400px;
}}*/

/***********************************************************************/
/********************************footer*********************************/


footer{
	padding: 30px 0;
	-webkit-box-shadow: 0 0 8px rgba(1,1,1,.91), inset 0 0 3px rgba(255,255,255,.06);
	-moz-box-shadow: 0 0 8px rgba(1,1,1,.91), inset 0 0 3px rgba(255,255,255,.06);
	box-shadow: 0 0 8px rgba(1,1,1,.91), inset 0 0 3px rgba(255,255,255,.06);
	background-image: -webkit-linear-gradient(bottom, #181818, rgba(24,24,24,1), #181818);
	background-image: -moz-linear-gradient(bottom, #181818, rgba(24,24,24,1), #181818);
	background-image: -o-linear-gradient(bottom, #181818, rgba(24,24,24,1) , #181818);
	background-image: -ms-linear-gradient(bottom, #181818, rgba(24,24,24,1) , #181818);
	background-image: linear-gradient(to top, #181818 33%, rgba(30,30,30,1) 66%, #181818);
}

.footer_wrap .info{
	display: inline-block;
    vertical-align: top;
	font-size: 18px;
	line-height: 25px;
	color: rgb(220, 220, 220);
	padding: 0 10px;
	padding-bottom: 6px;
}

.footer_wrap .info .contacts{
	display: inline-block;
	font-weight: bold;
	padding: 10px 0;
}

.footer_wrap .info .contacts .phone{
	margin-right: 5px;
}


.footer_wrap .info .address{
	display: block;
	
}
.footer_wrap .contacts .company_date{
	display: block;
}

.h1 h1,
.h2 h2{
	margin: 40px 0;
}

.h1 .text p,
.h2 .text p{
	margin: 20px 0;
    font-size: 16px;
    text-align: left;
    color: rgb(56, 51, 49);
    line-height: 25px;
}

.h1 .text,
.h2 .text{
    min-height: 190px;
}



