@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

*{
	box-sizing: border-box;
}
body{
	margin: 0;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	min-width: 1000px;
	max-width: 1920px;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
    line-height: 24px;
}


a{
	text-decoration: none;
	color: inherit;
}

a[href^="tel:"],
a[href^="mailto:"]{
	border: none;
	text-decoration: none;
	color: inherit;
}

a[href^="tel:"]:hover,
a[href^="mailto:"]:hover{
	color: inherit;
	opacity: 1;
}

.container{ 
	position: relative;
	width: 100%;
}

.cf{
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}

.content{
	min-height: 350px;
}

.wrapper{
	width: 100%;
	overflow: hidden;
}

.path{
	position: relative;
    font-size: 16px;
    color: #383331;
    line-height: 20px;
    padding: 20px 0;
}

.path .path-item{
	position: relative;
    padding: 0 10px;
}

.path a{
	color: #b94d33;
}

.path a:hover{
	opacity: 0.8;
}

.path a:after{
    content: '';
    position: absolute;
    top: 4px;
    right: -7px;
    background: url(../images/path_icon.png) center center no-repeat;
    width: 6px;
    height: 12px;
}

h1{
	font-size: 45px;
    color: rgb(56, 51, 49);
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0 30px 0;
}

h2{
	font-size: 35px;
    color: rgb(56, 51, 49);
    line-height: 40px;
    font-weight: bold;
    text-align: left;
    margin: 20px 0 10px 0;
}

h3{
	font-size: 30px;
    color: rgb(56, 51, 49);
    line-height: 35px;
    font-weight: bold;
    text-align: left;
    margin: 20px 0 10px 0;
}

/**********************************************************************/
/********************************header********************************/
header{
	background-color: #181818;
	background-image: linear-gradient(to top, #0f0f0f, #181818, #0f0f0f);
	left: 0;
	top: 0;
	width: 100%;
	height: 130px;
	position: relative;
	display: block;
}

header .cf{
	max-width: 1060px;
}

header .header-content{
	display: inline-block;
	width: 627px;
	padding: 16px 0 0;
	float: right;
}

header .logo{
	width: 333px;
	/* height: 93px; */
	display: inline-block;
	padding: 16px;
	float: left;
}

header .contacts{
	display: inline-block;
    vertical-align: top;
    float: right;
	font-size: 18px;
	color: rgb(220, 220, 220);
	padding-right: 10px;
	padding-bottom: 6px;
}

header .contacts .phone{
	display: inline-block;
	margin-left: 30px;
	font-weight: bold;
}

header .contacts .address_and_schedule{
	display: inline-block;
	margin-left: 30px;
}

header .contacts .address{
	display: block;
	
}
header .contacts .schedule{
	display: block;
}

header nav{
    width: 100%;
    clear: both;
    display: block;
}

header nav ul{
	display: inline-block;
    color: #f4eee6;
    padding: 0;
    text-align: justify;
    line-height: 0px;
    font-size: 0;
    width: 100%;
    margin: 0;
}

header nav ul:after{
	content: '';
    display: inline-block;
    width: 100%;
    height: 0px;
}

header nav ul li{
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 30px;
	padding: 10px 8px;
}

header nav ul li:hover,
header nav ul li.active{
	background: rgba(160, 156, 151, 0.28);
	border-radius: 25px;
}

/*@media all and (max-width: 481px){
header{
	background-color: #181818;
	left: 0;
	top: 0;
	width: 100%;
	height: 15%;
	position: relative;
}}*/


/**********************************************************************/
/********************************banner********************************/
.banner{
	background-color: #000;
	background-size: 100% auto;
	background-repeat: no-repeat;
	width: 100%;
	top: 0;
	left: 0;
	position: relative;
}

@media all and (max-width: 481px){
.banner{
	display: none;
}}

@media all and (min-width: 482px) and (max-width: 1054px){
.banner{
	background-image: url("../images/banner_medium.jpg");
	/*Устанавливает резиновый размер блока banner, = высота изображения/ширина изображения*/
	padding-bottom: 32.8%; 
}}

@media all and (min-width: 1055px){
.banner{
	background-image: url("../images/banner.jpg");
	/*Устанавливает резиновый размер блока banner, = высота изображения/ширина изображения*/
	padding-bottom: 24.5%; 
}}
/***********************************************************************/
/********************************main********************************/


main{
	background-image: url("../images/concrete_seamless.png");
	width: 100%;
	position: relative;
	display: block;
}

main .menu{
	padding: 60px 0 30px 0 ; 
}

main .menu .menu_wrap{
	font-size: 0;
	line-height: 0;
	margin-left: -40px; 
}

main .menu .item_wrap{
	/*width: 50%;*/
	padding-left: 40px;
	margin-bottom: 20px; 
	display: inline-block;
	vertical-align: top;
}

main .menu .item{
	position: relative;
}

/*main .menu .item:hover:after{
	content: '';
	background: url("../images/main/title_wrap_hover_down.png") left top no-repeat;
	width: 100%;
	height: 70px;
	background-size: 100% 70px;
	position: absolute;
	bottom: 46px;
	left: 0;
	z-index: 3;
}*/

main .title{
	background: url("../images/main/title_wrap.png") left top no-repeat;
	width: 100%;
	height: 70px;
	background-size: 100% 70px;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
	position: relative;
	z-index: 3;
	color: #eeeded;
	padding: 20px 45px;
}

main .item:hover .title{
	color:#9a9292;;
}


main .title a{

}

main .title a:after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
}

main .menu .item .image{
	width: 100%;
	height: 100%;
	max-width: 450px;
	max-height: 215px;
	position: relative;
	z-index: 1;
	top: -26px;
	margin-bottom: -26px;
}


/*main .menu .item:hover .image{
	top: -46px;
	margin-bottom: -46px;
}*/

main .menu .item:hover .image:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(30, 27, 27, 0.6);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


main .menu .item .image img{
	max-width: 450px;
	max-height: 215px;
}


main .menu .item > a{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	margin-bottom: -26px;
}

/*************************price**************************/
.price{
	margin: 20px 0;
}

.price h2{
	text-align: left;
    margin: 20px 0;
}


/*********************contacts_page***********************/

main .contacts_page{
	margin: 20px 0;
}

main .contacts_page .info{
	display: inline-block;
    vertical-align: top;
	font-size: 18px;
	line-height: 25px;
	color: rgb(56, 51, 49);
}
main .contacts_page .info .item{
	margin: 10px 0 20px 0;
}

main .contacts_page .info .item_header{
	display: block;
	font-size: 28px;
	line-height: 36px;
	font-weight: 500;
	margin: 10px 0;
}

main .contacts_page .info .item_content{
	display: block;
}

main .contacts_page .info .contacts{
	display: inline-block;
}
main .contacts_page .info .contacts .number{
	font-weight: bold;
}

main .contacts_page .info .item .item{
	margin: 0 0 5px 0;
	display: block;
}

/*************************text_page****************************/


p{
	font-size: 15px;
    line-height: 22px;
    margin: 15px 0;
    color: #010101;
}

p a{
	color: #840e0e;
	text-decoration: underline;
}

p a:hover{
	opacity: 0.8;
	text-decoration: none;
}

ul{
	margin: 15px 0;
	padding: 0 0 0 30px;
	font-size: 15px;
    line-height: 22px;
    color: #010101;
}

.with_marker li{
	list-style-type: none;
	position: relative;
}

.with_marker li:after{
	content: '';
    /*background: url(../images/with_marker.png) center center no-repeat;*/
	position: absolute;
    top: 8px;
    left: -17px;
    width: 6px;
    border-radius: 3px;
    height: 6px;
    background: #4c1919;
}

table{
	border-collapse: collapse;
	margin: 15px 0;
}

table td, table th{
	
}

.nice_table{
	width: 100%;
    overflow: hidden;
}

.nice_table tr{
	width: 100%;
}

.nice_table th:first-child {
	-moz-border-radius: 10px 0 0 0;
	-webkit-border-radius: 10px 0 0 0;
	border-radius: 10px 0 0 0;
}


.nice_table th:last-child {
	-moz-border-radius: 0 10px 0 0;
	-webkit-border-radius: 0 10px 0 0;
	border-radius: 0 10px 0 0;
}

.nice_table tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 10px;
	-webkit-border-radius: 0 0 0 10px;
	border-radius: 0 0 0 10px;
}

.nice_table tr:last-child td:last-child {
	-moz-border-radius: 0 0 10px 0;
	-webkit-border-radius: 0 0 10px 0;
	border-radius: 0 0 10px 0;

}

.nice_table tr:nth-child(odd) td{
  background-color: #e2dada;
}

.nice_table tr:nth-child(even) td{
  background-color: #e4e2e2;
}

.nice_table tr th,
.nice_table tr td{
	color: #353535;
	max-width: 200px;
	border: none;
	text-align: center;
}

.nice_table tr th{
	color: #fff;
	background: #be3e3d;
	font-weight: 500;
	padding: 15px 10px;
	font-size: 110%;
}

.nice_table tr td{
	padding: 10px;
}

.description{
	font-size: 15px;
	line-height: 22px;
	color: #524242;
}

table.noborder, table.noborder td, table.noborder th,
table[border="0"], table[border="0"] td, table[border="0"] th{
	border: none;
}
table.cellpadding_5 td, table.cellpadding_5 th{padding: 5px;}
table.cellpadding_7 td, table.cellpadding_7 th{padding: 7px;}
table.cellpadding_10 td, table.cellpadding_10 th{padding: 10px;}
table.cellpadding_15 td, table.cellpadding_15 th{padding: 15px;}


/***********************************************************************/
/**********************************map**********************************/
.map{
	margin: 25px 0 0 0;
}
.map_wrap{
	position: relative;
    height: 455px;
}

.map_wrap iframe{
	height: 100%;
}

.map .title{
	margin-top: -26px;
	top: 26px;
	padding: 0;
}

.map .title a{
	padding: 20px 45px;
	display: block;
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	position: relative;
}

.map .ymaps-2-1-47-controls__toolbar{
	margin-top: 35px !important;
}

/*@media all and (max-width: 481px){
.map{
	height: 300px;
}}


@media (min-width: 482px) and (max-width: 900px){
.map{
	height: 300px;
}}

@media (min-width: 901px) and (max-width: 1281px){
.map{
	height: 400px;
}}*/

/***********************************************************************/
/********************************footer*********************************/


footer{
	padding: 30px 0;
	-webkit-box-shadow: 0 0 8px rgba(1,1,1,.91), inset 0 0 3px rgba(255,255,255,.06);
	-moz-box-shadow: 0 0 8px rgba(1,1,1,.91), inset 0 0 3px rgba(255,255,255,.06);
	box-shadow: 0 0 8px rgba(1,1,1,.91), inset 0 0 3px rgba(255,255,255,.06);
	background-image: -webkit-linear-gradient(bottom, #181818, rgba(24,24,24,1), #181818);
	background-image: -moz-linear-gradient(bottom, #181818, rgba(24,24,24,1), #181818);
	background-image: -o-linear-gradient(bottom, #181818, rgba(24,24,24,1) , #181818);
	background-image: -ms-linear-gradient(bottom, #181818, rgba(24,24,24,1) , #181818);
	background-image: linear-gradient(to top, #181818 33%, rgba(30,30,30,1) 66%, #181818);
}

.footer_wrap .info{
	display: inline-block;
    vertical-align: top;
	font-size: 18px;
	line-height: 25px;
	color: rgb(220, 220, 220);
	padding: 0 10px;
	padding-bottom: 6px;
}

.footer_wrap .info .contacts{
	display: inline-block;
	font-weight: bold;
	padding: 10px 0;
}

.footer_wrap .info .contacts .phone{
	margin-right: 5px;
}


.footer_wrap .info .address{
	display: block;
	
}
.footer_wrap .contacts .company_date{
	display: block;
}

.h1 h1,
.h2 h2{
	margin: 40px 0;
}

.h1 .text p,
.h2 .text p{
	margin: 20px 0;
    font-size: 16px;
    text-align: left;
    color: rgb(56, 51, 49);
    line-height: 25px;
}

.h1 .text,
.h2 .text{
    min-height: 190px;
}



